.Entete{
  position: sticky;
  top: 0;
  height: 20px;
  margin: 0;
  padding: 2.5%;
  font-size: 1.2em;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;

h1{
  font-size: 1.5em;
  margin: 0;
  font-weight: normal;
}
  ul{
      display: flex;
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;
      font-size: 0.8em;

      li{
          cursor: pointer;

          &:not(:last-of-type){
              padding-right: 15px;
          }
          &:not(:first-of-type){
              padding-left: 15px;
          }
      }
      
      &.navPrincipale{
          margin-left: 50px;
          margin-right: 20px;
      }
      &.navUtil{
          margin-left: auto;
          margin-top: 0;
      }
  }
}